.service {
    text-align: center;
    margin: 50xp 0;
}

.service h2{
    font-size: 2.5;
    margin-bottom: 20px;

}

.service-container {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.service-item{
    width: 30%;
    margin-bottom: 20px;
}

.service-item img{
    width: 100%;
    height: auto;
}

.service-item h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.service-item p {
    font-size: 1em;
    color: #6c757d;
}